:root {
    --main-font: "M PLUS 1p", sans-serif;
    --tt-font: "Cascadia Mono", 'Courier New', Courier, monospace;
}

.slidejs section {
    font-family: var(--main-font);
    font-style: normal;
    padding: 1em 2em 1em 2em;
}

.slidejs section .title {
    display: inline-block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0.5em 2em 0em 2em;
    font-size: 2em;
    font-weight: bold;
}

.slidejs section .subtitle {
    display: inline-block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0.5em 2em 0em 2em;
    font-size: 1.5em;
    font-weight: bold;
}

.slidejs  section .heading3 {
    display: inline-block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0.5em 0em 0em 0em;
    font-size: 1em;
    font-weight: bold;
}

.slidejs section[data-style="content"] > * {
    width: 100%;
}
.slidejs section[data-style="content"] > *:first-child, .column > *:first-child {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.slidejs section[data-style="content"] > *:not(:first-child), .column > *:not(:first-child) {
    padding: 0;
    margin: 0.5em 0 0 0;
}

.slidejs section a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: blue;
}

.slidejs section em {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-style: normal;
}
.slidejs section blockquote {
    border-left: 0.5em solid lightgreen;
    padding: 0;
    background-color: #eee;
    font-style: italic;
    color: #555;
}
.slidejs section blockquote p {
    margin: 0.25em;
}

.slidejs section > ul, section > ol {
    list-style-position: outside;
    margin-left: 2em !important;
}
.slidejs section li {
    padding-left: 0;
}

.slidejs section figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}
.slidejs section figure figcaption {
    text-align: center;
    margin: 0;
    padding: 0;
}
.slidejs section figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.slidejs section figure table {
    display: inline-table;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.slidejs section figure th, figure td {
    padding: 12px;
    border: 1px solid gray;
}
.slidejs section figure th {
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
}
.slidejs section figure td {
    text-align: left;
    background-color: white;
}
.slidejs section figure tr:nth-child(even) {
    background-color: var(--theme-color--50);
}
.slidejs section figure tr:hover {
    background-color: var(--theme-color--100);
}

.slidejs section .code-name {
    background-color: #eee;
    color: black;
    display: inline-block;
    font-family: var(--tt-font);
    margin: 0;
    padding: 0.25em 1em 0.1em 1em;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 0.75em;
}
.slidejs section pre code.code-block {
    font-family: var(--tt-font);
    padding-top: 0;
    padding: 0.25em 0.5em 0.25em 0.5em !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 0.75em;
}
.slidejs section code:not(.code-block)  {
    border-radius: 0.1em 0.1em 0.1em 0.1em;
    padding: 0.1em 0.25em 0.1em 0.25em;
    background-color: #eee;
}

.slidejs section[data-style="cover"] {
    justify-content: center;
}
.slidejs section[data-style="cover"] .title {
    display: inline-block;
    text-align: center;
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}
.slidejs section[data-style="cover"] .subtitle {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    margin: 0.1em 0 0 0;
    font-weight: bold;
}
.slidejs section[data-style="cover"] .presenter {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 2em;
    margin: 2em 0 0 0;
}
.slidejs section[data-style="cover"] .contact {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1.25em;
    margin: 0.25em 0 0 0;
    font-family: var(--tt-font);
}
.slidejs section[data-style="cover"] .affiliation {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    margin: 0.5em 0 0 0;
}

.slidejs section[data-style="content"] .title {
    background: linear-gradient(transparent 70%, lightgreen 70%);
}
.slidejs section[data-style="content"] .subtitle {
    border-left: 0.3em solid lightgreen;
    padding: 0 0 0 0.33em;
}
