:root {
    --main-font: "M PLUS 1p", sans-serif;
    --tt-font: "Cascadia Mono", 'Courier New', Courier, monospace;

    --color-text: black;
    --color-bg: white;
    --color-text-inverse: white;
    --color-bg-inverse: black;
    --color-text-accent: white;
    --color-bg-accent: lightgreen;
}
